body{
	background-image:url(validaciones/c11.jpg);
	background-repeat:no-repeat;
	background-size: 100% 1000px;
	color:white;

}
.info{
	margin:2%;
	width:96%;
	color:white;
}
.info div{
	margin:1%;
	width:37%;
	display:inline-block;
}
.info img{
	margin:2%;
	float:right;
	width:14%;	
}
.p{
 text-align: center;
 width: 50%;
 margin: auto; 
 
}
a{
	text-decoration: none;
	color:white;
	font-size: 150%;
}

nav {
	background:#528fd5;/*color fondo menu*/
	margin-top:20px;
	position: relative;/*para dar pocicion relativa */
	float: center;
}
nav ul{
	list-style: none;/*para quitar los puntos de lista */
	padding:0; 
	margin:0;
	overflow:hidden; 
}
nav ul div li{
	float: left;
}
nav ul li a {
	text-decoration:none;/*para quitar el subrallado*/ 
	color:#fff;
	display: block;/*para cambiar el tamaño del pading */
	padding:10px 20px;
}
